*{
    width: 100%;
}

.main-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.grid-item1{
    grid-column: 1 / 2;
    width: 400px;
    justify-self: center;
    align-content: center;
    text-align: center;
    background-color: #63c2e3;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    padding: 8px;
}

.grid-item2{
    grid-column: 1 / 2;
    width: 400px;
    justify-self: center;
}

.grid-item3{
    justify-self: center;
    width: 400px;
    grid-column: 1 / 2;
}

.grid-item4{
    width: 400px;
    justify-self: center;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto;
}

.div-grid-item1{
    justify-self: end;
    grid-row: 1 / 2;
}

.div-grid-item2{
    justify-self: end;
    grid-row: 1 / 2;

}

.grid-item5{
    justify-self: center;
    grid-column: 1 / 2;
    width: 400px;
}

/* .submit-button{
    width: 100%;
} */

.grid-item6{
    justify-self: center;
    grid-column: 1 / 2;
    width: 400px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid #fff;
  }
      
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th{
      color: black;
  }
  
  tr:nth-child(even) {
    background-color: #63c2e3;
  }